.for-doctor-breadcrumb-section .padding-section{
    padding-top: 16px;
    padding-bottom: 48px;
}
.for-doctor-banner-section{
    padding-bottom: 56px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .for-doctor-breadcrumb-section .padding-section {
        padding-top: 16px;
        padding-bottom: 32px;
    }
    .for-doctor-banner-section .content-mobile{width: 100%;}
}