.customer-grievance-banner {
    background-color: #cb1b5b;
    height: 250px;
}

.customer-grievance-banner .backarrow img {
    height: 55px;
    width: 55px;
    margin-left: 40px;
    margin-top: 24px;
}

.customer-grievance-banner .banner-tilte h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    // text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    line-height: 5;
}

.customer-grievance-content {
    background-color: #F9F9F9;
    padding: 40px 24px;
}

.customer-grievance-content p,
.customer-grievance-content h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #181423;
    letter-spacing: 0.02em;
}

.customer-grievance-content h2 {
    margin-bottom: 16px;
}

.customer-grievance-content h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #181423;
    margin: 30px 0px 20px 0px !important;

}

.customer-grievance-content .mt-5 {
    margin-top: 35px !important;
}

.customer-grievance-content a {
    color: rgb(52, 179, 221);
}

.customer-grievance-content .return-refund-div-content {
    background: #fff;
    border-radius: 8px;
    position: relative;
    margin-top: -5.5%;
    padding: 40px 24px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .customer-grievance-content .return-refund-div-content {
        margin-top: -30.5%;
    }

    .customer-grievance-banner .banner-tilte h1 {
        font-size: 30px;
        line-height: 1.2;
        margin-top: 40px;
    }
}