//Sustainability Policy CSS 

.SustainabilitySection {
    padding: 72px 0;

    .SustainabilityTitle {
        color: var(--text-dark-blue-magenta);
        line-height: normal;
        margin-bottom: 24px;
    }

    .SustainabilityContent {
        color: var(--text-dark-gray);
        font-style: normal;
        line-height: 40px;
    }

    .greenUnderline {
        position: absolute;
        height: auto;
        bottom: -5px;
        left: 24px;
    }
}


// InitiativesSection CSS
.InitiativesSection {

    .InitiativesTitle {
        color: var(--text-dark-blue-magenta);
        line-height: normal;
        padding: 80px 12px;
    }

    .initiativesCardSection {
        padding-left: 0;
        padding-bottom: 64px;
    }

    .initiativeContentWrapper {
        max-width: 677px;
    }

    .initiativeImgRight {
        padding-right: 72px;
    }

    .initiativeImgLeft {
        padding-left: 72px;
    }

    .caption {
        color: var(--text-green);
        padding-bottom: 16px;
    }

    .title {
        color: var(--text-dark-blue-magenta);
        padding-bottom: 18px;
    }

    .para {
        line-height: 36px;
    }
}

.sustainabilityFeedbackFormSection {
    .feedbackFormWrapper {
        padding: 80px 0;
        width: 100%;
        max-width: 815px;
        margin-top: 10px; // last want to delete
    }

    .feedbackFormTitle {
        padding-bottom: 20px;
    }

    .formInputField {
        // width: 100%;
        width: 630px !important;
        height: 49px;
        border: 1px solid #CFCFCF;
    }

    .feedbackLabel {
        padding: 32px 0 8px;
    }

    .formShareInputField {
        height: 100px;
    }

    .feedbackSubmitBtn {
        width: 100%;
        max-width: 630px;
        height: 64px;
        border-radius: 12px;
        border: none;
        margin-top: 52px;
    }

    .otpInput {
        border: 1px solid #bfbbbb;
    }
}

.sustainabilityBanner {
    background: #E7FFF2;
    padding: 15px 0 120px;

    .sustainabilityBannerContentWrapper {
        max-width: 696px;
    }

    .sustainabilityBannerTitle {
        line-height: 68px;
        color: #1D1D1F;
        letter-spacing: -1.215px;
        margin: 85px 0 18px;
    }

    .SustainableGreen {
        background: #00A242;
        color: white;
    }

    .sustainabilityBannerDesc {
        line-height: 32px;
        color: #4D4D4D;
        letter-spacing: 0.182px;
    }

    .sustainabilityBannerBtn {
        width: 192px;
        height: 56px;
        border-radius: 12px;
        background: #00A342;
        color: white;
        border: none;
        margin-top: 48px;
    }

    .sustainabilityBannerGif {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.sustainabilityCounterSection {
    background: #1AAA55;
    margin-top: 80px;

    .sustainabilityOrderMedicine {
        margin-top: 16px;
        color: #E9E9E9;
    }

    .sustainabilityContentWrapper {
        width: 100%;
        max-width: 735px;
        border-radius: 10px;
        // opacity: 0.5;
        background: #3ACA75;
        padding: 28px 0;
        margin: 40px 0px;
    }

    .sustainabilityImg {
        position: absolute;
        right: 70px;
        bottom: 0;
    }

    .sustainabilityCounterImg {
        width: 100%;
        max-width: 434px;
        height: 329px;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Responsive CSS

@media screen and (min-width: 769px) {
    .sustainabilityFeedbackFormSection {
        .c-input-group--btn {
            right: -200px !important;
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .sustainabilityBanner {
        .sustainabilityBannerContentWrapper {
            max-width: 540px;
        }

        .sustainabilityBannerGif {
            width: 450px;
            height: auto;
        }
    }

    .sustainabilityCounterSection {
        .sustainabilityImg {
            right: 14px;
        }

        .sustainabilityContentWrapper {
            max-width: 540px;
        }
    }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
    .InitiativesSection {
        .initiativeImg {
            width: 400px;
            height: auto;
        }
    }
}

@media only screen and (max-device-width: 768px) {
    .instaDocBannerSection {
        .instaDocBannerpt {
            padding-top: 40px;
            padding-bottom: 40px;

            .firstTitle {
                font-size: 23px;
                line-height: 40px;
            }

            .secondTitle {
                color: var(--color-white);
                font-size: 23px;
                font-weight: 800;
                line-height: 40px;
            }
        }

        .instaDocAppBanner {
            padding-bottom: 40px;
        }
    }

    .instaDocLists {
        margin-top: -40px;

        .instaDocListsPoint {
            color: var(--color-white);
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 28px;

            .roundTick {
                margin-right: 14px;
            }
        }

        padding-left: 70px;
        padding-right: 70px;
        text-align: start;

        .points {
            display: flex;
            line-height: 2;
        }
    }

    // SustainabilitySection Responsive CSS
    .SustainabilitySection {
        padding: 40px 20px !important;

        .SustainabilityTitle {
            line-height: 34px !important;
            margin-bottom: 14px !important;
        }

        .SustainabilityContent {
            line-height: 31px !important;
        }

        .greenUnderline {
            left: 7px;
        }
    }

    // InitiativesSection Responsive CSS
    .InitiativesSection {
        padding: 0 32px !important;

        .initiativesCardSection {
            flex-direction: column !important;
            align-items: center;
            padding-bottom: 40px !important;
        }

        .InitiativesTitle {
            padding: 40px 0 25px !important;
        }

        .initiativeImg {
            max-width: 364px;
            height: auto;
            padding-bottom: 25px;
        }

        .initiativeImgLeft,
        .initiativeImgRight {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .caption {
            padding-bottom: 10px !important;
        }

        .title {
            padding-bottom: 14px !important;
        }

        .para {
            line-height: 31px !important;
        }
    }

    // Feedback Form Responsive CSS
    .sustainabilityFeedbackFormSection {
        .feedbackFormWrapper {
            padding: 40px 27px 32px;
        }

        .formInputField {
            max-width: 364px !important;
            height: 56px;
        }

        .feedbackLabel {
            padding: 32px 0 16px;
        }

        .feedbackSubmitBtn {
            max-width: 364px;
            height: 56px;
            margin-top: 32px;
        }
    }

    // sustainability Banner Responsive CSS
    .sustainabilityBanner {
        padding: 20px 20px 372px;

        .sustainabilityBannerTitle {
            line-height: 41px;
            margin: 21px 0 11px;
        }

        .sustainabilityBannerDesc {
            line-height: 28px;
        }

        .sustainabilityBannerBtn {
            width: 364px;
            margin: 32px 0 13px;
        }

    }

    // sustainability Counter Responsive CSS
    .sustainabilityCounterSection {
        margin-top: 0;

        .sustainabilityContentWrapper {
            max-width: 364px;
            padding: 24px 0;
            margin: 40px 0 48px;
        }

        .sustainabilityOrderMedicine {
            width: 100%;
            max-width: 291px;
            margin: 10px auto 0;
        }

        .sustainabilityMobContentWrapper {
            flex-direction: column;
            padding: 0 32px;
            justify-content: center !important;
            align-items: center;
        }

        .sustainabilityImg {
            position: relative;
            right: 0;
            top: 0;
        }

        .sustainabilityCounterImg {
            max-width: 356px;
            height: 269px;
        }
    }
}

@media screen and (max-width: 400px) {
    .InitiativesSection {
        .initiativeImg {
            width: 315px;
        }
    }

    .sustainabilityBanner {
        .sustainabilityBannerBtn {
            width: 265px;
        }
    }
}

@media only screen and (max-device-width: 380px) {
    .sustainabilityFeedbackFormSection {
        .formInputField {
            max-width: 320px !important;
        }
    }
}

@media only screen and (max-device-width: 340px) {
    .sustainabilityFeedbackFormSection {
        .formInputField {
            max-width: 265px !important;
        }
    }
}