.sell-container {
    width: 85%;
    margin: auto;
    margin-bottom: 4%;
}

.advantages-title {
    font-size: 28px;
    font-weight: 700;
    color: black;
    margin: 10px 0px 0px 0px;
    text-align: center;
    margin-bottom: 15px;

}

.outer-layer {
    padding: 30px 32px 0px 32px;
    margin: 0px;
}

.advantage-content p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0;
    font-weight: 500;
}

.advantage-content {
    border: 1px solid #eeeeee;
    border-radius: 12px;
    height: 136px;
    padding: 44px 40px;
    align-items: center;
}

.sell-advantage {
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.sell-section-advantages {
    padding-bottom: 64px;
}
.content-padding-vary{
    padding: 10px 40px 16px;
}
@media screen and (max-width:768px) {
    .sell-section-advantages{
        background-color:  #f9f9f9;
        padding: 30px 0px 0px 0px;
        margin-bottom: 0% !important;
    }
    .sell-container {
        width: 85%;
        margin: auto;
        margin-bottom: 0%;
        background-color: white;
    }

    .sell-section-advantages .advantages-title {
        font-size: 24px;
        font-weight: 700;
        color: #181423;
        margin: 30px 0px 0px 0px;
        text-align: center;
        margin-bottom: 15px;
        padding: 0px 10px ;
        width: 348px;
        margin: auto;        
        margin-bottom: 32px;
    }

    .outer-layer {
        padding: 10px 30px 20px 30px;
        margin: 0px;
    }

    .advantage-content {
        height: 180px;
    }

    .advantage-content p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
    }

    .sell-section-advantages .outer-layer .advantage-content {
        border: 1px solid #F1F1F1 !important;
        box-shadow: 0px 0px 4px rgba(253, 253, 253, 0.2) !important;
        border-radius: 12px !important;
        text-align: center !important;
        padding: 20px;
        margin: 0 auto;
    }

    .sell-section-advantages .sell-advantage {
        display: flex;
        text-align: center;
        vertical-align: middle;
    }
    .sell-section-advantages .outer-layer .advantage-content img{
        margin-bottom: 8px;
    }
}
@media screen and (max-width:768px) {
    .advantage-content {
        border: 1px solid #eeeeee;
        border-radius: 12px;
        height: auto;
        padding: 20px 0px;
        align-items: center;
    }
    
}
@media screen and (max-width:576px){
        .sell-section-advantages{
            background-color:  #fff;
            padding: 0px 0px 0px 0px;
            margin-bottom: 0% !important;
        }
        .sell-section-advantages .advantages-title{
            padding: 0 10px !important;
        }
    }